<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link href="recursos/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <h:form>
            <div class="card container">

                <div class="card-header" style="background: #269abc; height:5rem; padding:1rem 0 0 2rem; color: white; font-size: 24pt">
                    Registro Persona
                </div>

                <div class="card-body">
                    <h:form>
                        <div class="col-md-2">
                            <h:outputLabel>ID </h:outputLabel>
                            <h:inputText styleClass="form-control" value="#{Bpersona.persona.id}"/>
                        </div>
                        <div class="col-md-8">
                            <h:outputLabel>Nombre: </h:outputLabel>
                            <h:inputText styleClass="form-control" value="#{Bpersona.persona.nombre}"/>
                        </div>
                        <div class="col-md-8">
                            <h:outputLabel>Apellido: </h:outputLabel>
                            <h:inputText styleClass="form-control" value="#{Bpersona.persona.apellido}"/>
                        </div>
                        <div class="col-md-8">
                            <h:outputLabel>Edad: </h:outputLabel>
                            <h:inputText styleClass="form-control" value="#{Bpersona.persona.edad}"/>
                        </div>
                        <div class="col-md-8">
                            <h:outputLabel>Telefono: </h:outputLabel>
                            <h:inputText styleClass="form-control" value="#{Bpersona.persona.telefono}"/>
                        </div>
                        <div class="col-md-8">
                            <h:outputLabel>Email: </h:outputLabel>
                            <h:inputText styleClass="form-control" value="#{Bpersona.persona.email}"/>
                        </div>
                        <h:commandButton action="#{Bpersona.agregar()}" value="Agregar persona"/>
                    </h:form>

                </div>
            </div>
        </h:form>
        <h:form>
            <div class="container">
                <h:dataTable value="#{Bpersona.listado}" var="p" styleClass="table table-hover" >


                    <h:column>
                        <f:facet name="header"> ID </f:facet>
                            #{p.id}
                    </h:column>

                    <h:column>
                        <f:facet name="header"> Nombre </f:facet>
                            #{p.nombre}
                    </h:column>
                    <h:column>
                        <f:facet name="header"> Apellido </f:facet>
                            #{p.apellido}
                    </h:column>
                    <h:column>
                        <f:facet name="header"> Edad </f:facet>
                            #{p.edad}
                    </h:column>
                    <h:column>
                        <f:facet name="header"> Telefono </f:facet>
                            #{p.telefono}
                    </h:column>
                    <h:column>
                        <f:facet name="header"> Email </f:facet>
                            #{p.email}
                    </h:column>

                    <h:column>
                        <f:facet name="header"> Acciones </f:facet>
                        <h:commandButton action="#{Bpersona.editar(p.id)}" styleClass="btn btn-outline-primary" value="Editar"/>
                    </h:column>

                </h:dataTable>
            </div>
        </h:form>
    </h:body>
</html>

